In [3]:
import pandas as pd
import numpy as np

In [5]:
s = pd.Series([10, 20, 30], dtype=np.float16)

In [8]:
s.index

RangeIndex(start=0, stop=3, step=1)

DatetimeIndex(['2020-02-01', '2020-02-02', '2020-02-01'], dtype='datetime64[ns]', freq=None)

In [13]:
date_s = pd.Series(data=[10, 20, 30], index=pd.to_datetime(['2020-02-01', '2020-02-02', '2020-02-01']))

In [15]:
date_s['2020-02-01']

2020-02-01    10
2020-02-01    30
dtype: int64

In [18]:
names = ['Reslan', 'Sami', 'Qusai', 'Reslan']
grades = [99, 29, 44, 12]

In [24]:
names_s = pd.Series(data=grades, index=names, name='grades')

In [25]:
names_s

Reslan    99
Sami      29
Qusai     44
Reslan    12
Name: grades, dtype: int64

In [26]:
x_1 = ['High', 'Low', 'Low', 'High', 'Medium']
x_2 = [190, 200, 179, 300, 500]
y = ["Win", "Lose", "Lose", "Win", "Lose"]

In [32]:
pd.DataFrame(data=list(zip(x_1, x_2, y)), columns=['a', 'b', 'c'])

        a    b     c
0    High  190   Win
1     Low  200  Lose
2     Low  179  Lose
3    High  300   Win
4  Medium  500  Lose